{
	http_port 8080
	https_port 4430
	admin off
	persist_config off
	log {
		level ERROR
	}
}

{$SITE} {
	reverse_proxy /livereload unix/livereload.sock

	root * result/site/
	file_server browse
}

{$REPO} {
	root * .
	file_server browse
}
