---
layout: layout.njk
---

<render-scope>
  <link as=script href=module.js>

  <button :: on:click=increment>
    <span :: text:=count>0</span>
  </button>
  <input inputmode=numeric type=number :: value:=count on:change=set>
</render-scope>