<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=UTF-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1.0">
  <link rel=icon href=/coconut.svg>
  <title>༼◕․◕༽ {{ title }}</title>

  {% for style in styles %}
  <link rel=preload as=style href={{ style.path }}>
  <link rel=stylesheet href={{ style.path }}>
  {% endfor %}

  {% for script in scripts %}
  <link rel=preload as=script href="{{ script.path }}">
  <script {{ "type=module" if script.module }} src={{ script.path }} {{ script.attrs }}></script>
  {% endfor %}
</head>

<body>
  {{ content | safe }}
</body>

</html>