<head>
  <link rel=stylesheet href="https://unpkg.com/missing.css/dist/missing.css">
  <script type=module src="https://esm.run/missing.css@1.0.11/dist/missing-js/tabs.js"></script>

  <link rel=stylesheet href=/demo.css>
  <link rel=stylesheet href=/highlight.css>
</head>

<body>
  <span>
    hit <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>i</kbd> ┋
    click <strong>Network</strong> tab ┋
    scroll down ⬇
  </span>

  <span>don't forget to <strong>Disable Cache</strong> and <em>reload page</em></span>

  <div>
    <div id=demo></div>
    <h2 id=demo-title>Demo</h2>
  </div>

  <span id=end>The <span>End</span></span>
</body>
